* {
  /* outline: 1px dotted black; */
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  font-weight: 900;
  padding: 0px 50px;
  position: sticky;
}

header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-bar {
  display: flex;
  gap: 16px;
}

.nav-bar li {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.hero-section-one,
.hero-section-two {
  flex: 1 1 0px;
}

.hero-section-two {
  display: flex;
  justify-content: center;
}

div.placeholder {
  padding: 28px;
  background-color: #e5e7eb;
  opacity: 0.5;
  border-radius: 15px;
  color: #1f2937;
}

section {
  flex: 1;
  padding: 0px 50px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #1f2937;
  padding: 0px 100px;
}

.container {
    display: flex;
    gap: 16px;
    width: 550px;
}

.box {
    width: 75px; 
    height: 75px;
    background-color: #828891;
    border-radius: 15px;
    opacity: 0,7;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section.quote {
  background-color: #e5e7eb;
  font-size: 32px;
  font-weight: 300;
  color: #1f2937;
}

section.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  color: #e5e7eb;
}
