* {
  /* outline: 1px dotted black; */
  font-family: Roboto;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  font-weight: 900;
  padding: 16px 168px;
  position: sticky;
}

header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-bar {
  display: flex;
  gap: 16px;
}

.nav-bar li {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.hero-section-one,
.hero-section-two {
  flex: 1 1 0px;
}

.hero-section-two {
  display: flex;
  justify-content: center;
}

div.placeholder {
  padding: 28px;
  background-color: #e5e7eb;
  opacity: 0.5;
  border-radius: 15px;
  color: #1f2937;
}

section {
  padding: 28px 168px;
  flex: 1 1 0px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1f2937;
}

.container {
  display: flex;
  gap: 16px;
  width: 550px;
}

.box {
  width: 75px;
  height: 75px;
  background-color: #828891;
  border-radius: 15px;
  opacity: 0, 7;
}

.center {
  text-align: center;
}

.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.quote {
  background-color: #e5e7eb;
  font-size: 26px;
  font-weight: 300;
  color: #1f2937;
  display: flex;
  align-items: center;
}

section.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup {
  display: flex;
  background-color: #3882F6;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  width: 70vh;
  padding: 28px 16px;

}



footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  color: #e5e7eb;
  padding: 16px 0px;
}
